/* Общие настройки */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px 20px;
}

/* Контейнер */
.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Лого + текст */
.logo-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 29px;
  height: auto;
}

.logo-text h1 {
  font-size: 14px;
  color: rgb(49, 69, 255);
  margin: 0;
  font-weight: 700;
}

.logo-text p {
  font-size: 12px;
  color: rgba(42, 45, 70, 1);
  margin: 0;
}

/* Основное меню */
.nav-menu {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-menu .nav-item a {
  text-decoration: none;
  color: rgba(42, 45, 70, 1);
  font-size: 14px;
  font-weight: 500;
}

.nav-menu .nav-item a:hover {
  color: rgb(49, 69, 255);
}

/* Контакты + кнопка + корзина */
.contacts-cart {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-item_num {
  color: rgba(42, 45, 70, 1);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.my-btn {
  background-color: white;
  color: #ff66b2;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid #ff66b2;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-btn:hover {
  background-color: #ff66b2;
  color: white;
}

.cart {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  margin-right: 100px;
}

.cart-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
}